body {
    font-family: Arial, sans-serif;
    background-size: auto;

}

nav {
    width: 100%;
    height: 60px;
    background: #344051;


}

.logo {
    color: #fff;
    font-size: 25px;
    line-height: 60px;
    padding-left: 380px;
    float: left;
}

.menu {
    float: left;
    padding-left: 432px;
}

.menu li {
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
}

.main {
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/%D0%9F%D0%B0%D1%80%D0%B5%D0%BD%D1%8C.png) 90% 100%/ auto 85% no-repeat, url(../img/Fon.jpg) center/cover no-repeat;

}


.title__container {
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2d384a;
    text-align: center;
}

.title__container h1 {
    font-size: 70px;
    font-weight: bold;
}

.title__container h2 {
    margin-top: 20px;
    font-size: 20px;
    color: #798180;
    margin-bottom: 40px;
}

.title__container input {
    height: 40px;
    text-align: center;
    border: 2px solid;
    font-size: 20px;
    background: none;
    border-radius: 5px;
    padding: 0px 20px;
    margin: 0px 14px 0px 14px
}

.exp h3 {
    margin-top: 108px;
    width: 129px;
    height: 100px;
    border-bottom: 5px solid #d17700;
    padding-bottom: 50px;
    margin-left: 890px;
    font-size: 25px;
    color: #2d384a;
    font-weight: bold;
    text-transform: uppercase;
    height: 33px;
    text-align: center;
    margin-bottom: 50px;

}

.img {
    border: none solid #000;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-left: 850px;
    background: url(../img/%D1%84%D0%BE%D1%82%D0%BA%D0%B0%20%D1%87%D0%B5%D0%BB.png)center/ 200px 200px no-repeat local;
}


.exp span {
    margin-top: 20px;
    display: inline-block;
    border: none;
    width: 800px;
    height: 50px;
    margin-left: 550px;
    font-size: 15px;
    color: #798180da;
    text-align: center;
}

.download input {
    height: 30px;
    width: 150px;
    margin-left: 880px;
    text-align: center;
    border: 2px solid #798180da;
    color: #798180da;
    font-size: 12px;
    background: none;
    border-radius: 5px;
    padding: 5px 15px;
    background: url(../img/%D0%B8%D0%BA%D0%BE%D0%BD%D0%BA%D0%B0.png)left/ 15px 15px no-repeat ;
    background-position: 15px;
    padding-right: 5px;
    margin-bottom: 100px;

}

.General_div {
    float: left;
    width:100%;
    height: 545px;
    background: url(../img/%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0%20%D1%84%D0%BE%D0%BD%D0%B0.jpg)  center/cover no-repeat;

   
}


.General_div h4{
    width: 200px;
    height: 164px;
    border-bottom: 5px solid #d17700;
    margin-left: 870px;
    padding-bottom: 55px;
    padding-top: 150px;
    font-size: 30px;
    color: #2d384a;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center; 
}



.skil{
    float: left;
    height: 170px;
    width: 220px;
    text-align: center;
    border: 1px solid;
    margin-left: 400px;
    display: inline-block;
    margin-top: 100px;

}
.skill{
    float: left;
    height: 170px;
    width: 220px;
    text-align: center;
    border: 1px solid;
    margin-left: 80px;
    display: block;
    margin-top: 100px;
}
.skilll{
    float: left;
    height: 170px;
    width: 220px;
    text-align: center;
    border: 1px solid;
    margin-left: 80px;
    display: block;
    margin-top: 100px;
}

.skillll{
    float: left;
    height: 170px;
    width: 220px;
    text-align: center;
    border: 1px solid;
    margin-left: 80px;
    display: block;
    margin-top: 100px;
}


.skil img{
    
    height: 50px;
    width: 220px;
    background: url(../img/%D0%BD%D0%BE%D1%83%D1%82.png) no-repeat;
    background-position: center;
}

.skill img{
    
    height: 50px;
    width: 220px;
    background: url(../img/%D0%B7%D0%BD%D0%B0%D0%BA.png) no-repeat;
    background-position: center;
}
.skilll img{
    
    height: 50px;
    width: 220px;
    background: url(../img/%D1%80%D0%B0%D0%BA%D0%B5%D1%82%D0%B0.png) no-repeat;
    background-position: center;
}
.skillll img{
    
    height: 50px;
    width: 220px;
    background: url(../img/%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%BE%D1%84%D0%BE%D0%BD.png) no-repeat;
    background-position: center;
}

.skil h41 {

    float: left;
    height: 15px;
    width: 220px;
    font-size: 15px;
    color: #cf7600;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
  
}
.skill h41 {

    float: left;
    height: 15px;
    width: 220px;
    font-size: 15px;
    color: #cf7600;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
  
}
.skilll h41 {

    float: left;
    height: 15px;
    width: 220px;
    font-size: 15px;
    color: #cf7600;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}
.skillll h41 {

    float: left;
    height: 15px;
    width: 220px;
    font-size: 15px;
    color: #cf7600;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}

.cases{
    width: 100%;
    height: 1253px;
}

.cases h5{
    width: 100px;
    height: 160px;
    border: 5px solid #d17700;
    margin-top: 450px;
       
}